@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;1,200&family=Raleway:wght@100&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
}
html{
    box-sizing:content-box;
    overflow-x: hidden;

}
.m-7{
    margin: 50px;
}

.page-card{
    color: black;
    background-color: bisque;
    border: black;
}
.page-card:hover{
    color: bisque;
    background-color: black;

}

.btn-carrito{
    background-color: black;
    color: bisque;
    border: black;
    padding: .5rem;
    margin: 1.5rem;
}
.btn-carrito:hover{
    background-color: bisque;
    color: #000;
}

.btn-icon{
    width: 1rem;
    height: 1rem;
}
.information-card{
    margin: 1rem;
}
.img-fluid{
    width:800px;
    height: 500px;
    
}


.nav-index{
    z-index: 1000;
}

.carrousel-index img{
    z-index:1;
}

.logo-footer{
    width: 100px;
    justify-content: center;
    display: flex;
}

.redes-footer{
    display: flex;
    justify-content: center;
}
.flex-footer {
    text-align: center;
    background-color: #111;
    font-family: ¨Nunito sans¨ sans-serif;
    display: flex;
    flex: 1;    
}
.flex-img img {
    width: 150px;

}
.icons-footer {
    color: white;
    padding: 1rem;
    font-family: "Nunito sans" sans-serif;
}

.icons-footer a {
    font-size: 12px;
    color: black;
    margin: 3px;
}
.icons-footer h3{
    color: #000;
}

.bg-bisque{
    background-color: bisque;
}

.img-cover{
    object-fit: contain;
}