@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&family=Open+Sans:wght@300&family=Poppins:ital,wght@0,100;1,200&family=Raleway:wght@100&display=swap');
*{
    font-family: 'Nunito Sans', sans-serif;
}
#colornav {background-color: rgb(255, 238, 208);
    padding: 0;;
}
.nombrefantasia{font-family: 'Anton', sans-serif;}
#colordrop {background-color: rgb(245, 238, 225);
padding: 0;}
.colornavbar{background-color:rgb(255, 238, 208);
padding: 0;}


html{
    box-sizing:content-box;
    overflow-x: hidden;

}
@media screen and (max-width:991px) {
    .responsive {
        display: none;
    }
    .form-responsive{
        width: 400px;
        margin: auto;
    }
    .responsive-img img{
        display: none;
    }

}

.logo-footer{
    width: 100px;
    justify-content: center;
    display: flex;
}

.redes-footer{
    display: flex;
    justify-content: center;
}
.flex-footer {
    background-color: #111;
    font-family: ¨Nunito sans¨ sans-serif;
    display: flex;
    flex: 1;    
}
.flex-img a img {
    width: 250px;
}
.icons-footer {
    color: white;
    padding: 1rem;
    font-family: "Nunito sans" sans-serif;
}

.icons-footer a {
    font-size: 12px;
    color: black;
    margin: 3px;
}
.icons-footer h3{
    color: #000;
}

.bg-bisque{
    background-color: bisque;
}

.footer-list a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.footer-list a:hover{
    color: #555 ;
}
                
.flex-footer {
    text-align: center;
    background-color:bisque;
    font-family: ¨Nunito sans¨ sans-serif;
    display: flex;
    flex: 1;    
}
.bg-yellow{
    background-color: yellow;
}

.marcas-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-about img {
    width: 200px;
    height: 200px;
    margin-top: 10px;
    border-radius: 50%;
}
.img-about-container{
    position: relative;
}
.img-about{
    height: 150px;
    filter: sepia(.5) opacity(.8) brightness(.5);
    
}
.title-img{
    position: absolute;
    top: 32%;
    left: 30%;
}
.title-img h1{
    color: #fff;
    font-weight: bolder;
    font-size: 3rem;
}
.text-about p{
    font-size: 1.5rem;

}
.logo-banner img{
    width: 80px;
    margin-top :30px;
    display: flex;
}


.btn-form{
    background-color: black;
    color: bisque;
    border: black;
    padding: .5rem;
    margin: 1.5rem;
}
.btn-form:hover{
    background-color: bisque;
    color: #000;
}

.btn-404 a{
    color: white;
    text-decoration: none;
    background-color: #000;
    padding: .5rem;
    border-radius: 5px;
    transition: .3s;
}
.btn-404:hover a{
    background-color: bisque;
    color: #000;
}

.btn-register{
    background-color: black;
    color: bisque;
    border: black;
    padding: .5rem;
    margin: 1.5rem;
    width: 200px;
}
.btn-register:hover{
    background-color: bisque;
    color: #000;
}

.form-login{
    background:url(/IMAGES/bg-login.jpg);
    width: 700px;
    height: 350px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow( 10px 10px 10px black);

}
.btn-form-container button{
    width: 200px;
}
.pag-login{
    display: flex;
    justify-content: center;
}
.nav-container{
    display: flex;
}

.btn-admin{
background-color: bisque;
color: #000;
font-weight: bold;

}

.btn-admin:hover{
    background-color: rgb(255, 211, 157);
    color: black;
}

.btn-logout{
    font-weight: bolder;
    color: black;
}

.btn-nav{
    transition: .3s;
}
.btn-nav:hover{
    background-color: bisque;
    font-size: 18px;
}

.stock-cards{
    background-color: rgb(0, 206, 0);
    width: 70px;
    text-align: center;
}
.stock-cards p{
    font-weight: bolder;
    color: #fff;
}

.desc-cards{
    background-color: yellow;
    width: 80px;
    text-align: center;
    }
    .desc-cards p{
        font-weight: bolder;
        color: #000;

    }

.stock-cards-pags{
    background-color: rgb(0, 206, 0);
    width: 70px;
    text-align: center;
    font-weight: bolder;

}
