html{
    box-sizing:content-box;
    overflow-x: hidden;

}

.page-card{
    color: black;
    background-color: bisque;
    border: black;
}
.page-card:hover{
    color: bisque;
    background-color: black;

}

.btn-carrito{
    background-color: black;
    color: bisque;
    border: black;
    padding: .5rem;
    margin: 1.5rem;
}
.btn-carrito:hover{
    background-color: bisque;
    color: #000;
}

.btn-icon{
    width: 1rem;
    height: 1rem;
}
.information-card{
    margin: 1rem;
}
.img-fluid{
    width:800px;
    height: 500px;
    
}


.nav-index{
    z-index: 1000;
}

.carrousel-index img{
    z-index:1;
}
